<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
</head>
<body>
    <header>
    <h1>{{uppercase win}}</h1>
    </header>

<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore, accusantium, vitae similique iste illum quo quam sint, voluptas laudantium itaque rerum ipsam doloribus harum. Doloribus at aliquam inventore in quos.
</p>
    <footer>
        <p>copyright {{date}}</p>
    </footer>
</body>
</html>